.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  }
  
  .user-data {
    background-color: #f9f9f9; /* Fondo gris claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    margin-bottom: 20px;
    text-align: center;
  }
  
  .user-data h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
  }
  

  /* Animación de entrada para la imagen de perfil */
.profile-picture {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Animación al hacer clic en el botón de amigos */
  .friends-offcanvas {
    transition: transform 0.3s ease-in-out;
  }
  
  .friends-offcanvas.show {
    transform: translateX(0%);
  }
  
  /* Animación al cargar las publicaciones */
  .post-list {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  